body{
    background-color: lightgray;
}

h1{
    text-align: center;
}

.eggdog{
    background-color: white;
}

/* Let's Try this color */
#number-one{
    color: tomato;
}

/* Another one */
#number-two{
    color: teal;
}

/* A font */
#random-font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Let me try some margin and padding stuffs */
.dog{
    border-style: dotted;
    border-color: violet;
        margin-top: 50px;
        margin-right: 200px;
        margin-bottom: 50px;
        margin-left: 200px;
    padding: 20px 20px 20px 20px;
}

.egg{
    border-style: ridge;
    background-color: turquoise;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
}

.egg img{
    width: 40px;
    height: 20px;
}